documents
downloads
pictures
homepage_old
projects
uni


#single files
abc.py
.ipynb_checkpoints
.gitconfig


# ever changing minor config / data files
.cache
.mozilla/*
*.log*
*-errors*
.mail
.python_history
.jupyter
.lesshst
.local/*
.ipython
.Xauthority
.calcurse/*
.config/mpd/*
.config/neofetch/*
.config/nvim/*
.config/pulse
.config/vifm

# Secret dirs
.bash_history
.ssh
.gnupg
.esd_auth
.msmtprc
.offlineimaprc
.offlineimap/*
.config/mutt/accounts/*



